.main-game-container {
  font-size: 16px;
  background-color: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.zone-container {
  box-sizing: border-box;
  /*outline: 4px solid white;*/
  margin: 0.5rem auto;
  /*width: 1000px;*/
  /*height: 700px;*/
  /*96*9*/
  /*width: 864px;*/
  /*height: 864px;*/
  /*96*7*/
  width: 672px;
  height: 672px;
  font-size: 1rem;
  position: relative;
  /*overflow: hidden;*/
}
/*.zone-container:before {*/
/*  content: '';*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  z-index: 5;*/
/*  box-shadow: inset rgb(0 0 0 / 25%) 0 0 50px 40px;*/
/*}*/
.zone-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  box-shadow: inset rgb(0 0 0 / 35%) 0 0 60px 60px;
}

.row {
  display: flex;
  line-height: 32px;
  height: 32px;
}
